{% extends "homebase.html" %}

{% block title %} Sıkça Sorular Sorular {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}" />
    <script>
        $( function() {
            $( "#accordion" ).accordion();
        } );
    </script>
{% endblock %}



{% block content %}

    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="inner-heading">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Anasayfa</a> <i class="icon-angle-right"></i></li>
                            <li class="active">SSS</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="content">
        <div class="container">
            <div class="row">

                <div class="span12">
                    <div id="accordion">
                        {% for rs in faq %}
                        <h3>{{ rs.question }}</h3>
                        <div>
                            <p>{{ rs.answer }}</p>
                        </div>
                        {% endfor %}


                    </div>

                </div>

                <!-- divider -->
                <div class="row">
                    <div class="span12">
                        <div class="solidline"></div>
                    </div>
                </div>
                <!-- end divider -->


                <div class="blankline30"></div>

            </div>
    </section>




{% endblock %}