{% load static %}
<section id="featured">

      <!-- slideshow start here -->

      <div class="camera_wrap" id="camera-slide">
            {% for rs in sliderdata  %}
         <!-- slide 1 here -->
        <div data-src="{{rs.image.url}} ">
          <div class="camera_caption fadeFromLeft">
            <div class="container">
              <div class="row">
                <div class="span12">
                  <h1 style="color: #fd0000"><strong>{{ rs.title }}</strong></h1>
                    <h3 style="color: #fd5559">{{ rs.description }}</h3>
                    <a style="color: #fd5559" href="/car/{{ rs.id }}/{{ rs.slug }}" class="btn-primary">Kirala</a>

                </div>


              </div>
            </div>
          </div>
        </div>



{% endfor %}

      </div>

      <!-- slideshow end here -->

    </section>