{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile {% endblock %}
{% block keyword %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}" />
{% endblock %}



{% block content %}

    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="inner-heading">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Anasayfa</a> <i class="icon-angle-right"></i></li>

                            <li class="active">Change Password</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">

                {% include "user_panel.html" %}


                <div class="span8">
                    <article>
                        <div class="row">

                            <div class="span8">
                                <div class="post-image">
                                    <div class="post-heading">
                                        <h3>Change Information</h3>
                                    </div>
                                {% if messages %}
                                    {% for message in messages %}
                                        <div style="color: red; font-size: medium">
                                            {{ message|safe }}
                                        </div>
                                    {% endfor %}
                                {% endif %}


                                    <form method="post">
                                        {% csrf_token %}

                                        {% for field in form %}
                                            <p>
                                                {{ field.label_tag }} <br>
                                                {{ field }}
                                                {% if field.help_text %}
                                                    <small style="color: grey">{{ field.help_text }}</small>
                                                {% endif %}
                                                {% for error in field.errors %}
                                                    <p style="color: red">{{ field.errors}} </p>
                                                {% endfor %}

                                            </p>
                                    {% endfor %}
                                    <button class="btn btn-info" type="submit">Save Changes</button>
                                    </form>


                                </div>


                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>







{% endblock %}