{% extends "homebase.html" %}

{% block title %} Reservation Information {% endblock %}
{% block keyword %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}" />
{% endblock %}



{% block content %}

    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="inner-heading">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Anasayfa</a> <i class="icon-angle-right"></i></li>
                            <li><a href="#">Pages</a> <i class="icon-angle-right"></i></li>
                            <li class="active">User Profile</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">

                {% include "user_panel.html" %}


                <div class="span8">
                    <article>
                        <div class="row">

                            <div class="span8">
                                <div class="post-image">
                                    <div class="post-heading">
                                        <h3><a href="#">Reservation Information for {{ car.title }}</a></h3>
                                    </div>
                                    <form name="reservation" action="/car/addreservation/{{ car.id }}" method="post" role="form" class="contactForm">
                                        {% csrf_token %}

                                        <input type="text" id="id_name" name="name" value="" placeholder="Name" />
                                        <div class="validation"></div>
                                        <input type="text" id="id_email" name="email" placeholder="Email"/>
                                        <div class="validation"></div>
                                        <input type="text" id="id_phone" name="phone" placeholder="Phone"  />
                                        <div class="validation"></div>
                                        <input type="text" id="id_address" name="address" placeholder="Address"  />
                                        <div class="validation"></div>
                                        <input type="text" id="id_location" name="location"  placeholder="Location" />
                                        <div class="validation"></div>
                                        <input type="text" id="id_price" name="price" value="{{ car.price }}" placeholder="Price" />
                                        <div class="validation"></div>
                                        Checkin:<input type="date" id="id_checkin" name="checkin" placeholder="Checkin" />
                                        <div class="validation"></div>
                                        Checkout:<input type="date" id="id_checkout" name="checkout" placeholder="Checkout" />
                                        <div class="validation"></div> <br>
                                        Days:<input type="number" id="id_days" name="days" placeholder="" data-rule="minlen:4"  />
                                        <div class="validation"></div>

                                        {% if user.id is not None %}
                                            <br>
                                            <button class="btn btn-theme margintop10" type="submit">Reservation Request</button>
                                        {% else %}
                                            <a href="/login/" >Rezervasyon İçin Giriş Yapınız!</a>
                                        {% endif %}
                                    </form>

                                </div>


                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>







{% endblock %}