{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile {% endblock %}
{% block keyword %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}" />
{% endblock %}



{% block content %}

    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="inner-heading">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Anasayfa</a> <i class="icon-angle-right"></i></li>
                            <li><a href="#">Pages</a> <i class="icon-angle-right"></i></li>
                            <li class="active">User Profile</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">

                    {% include "user_panel.html" %}


                <div class="span8">
                    <article>
                        <div class="row">

                            <div class="span8">
                                <div class="post-image">
                                    <div class="post-heading">
                                        <h3><a href="#">User Information</a></h3>
                                            {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ message.tags }}" role="alert">
                                                {{ message }}
                                            </div>

                                        {% endfor %}
                                    {% endif %}
                                    </div>
                                    <table class="table">
                                        <tbody>

                                        <tr>
                                            <th>
                                                <a href="/user/update" class="btn btn-primary ">Update Profile</a>
                                                <a href="/user/password" class="btn btn-primary ">Change Password</a>
                                            </th>
                                            <td><img src="{{ profile.image.url }}" style="height: 80px " class="img-circle" alt=""></td>
                                        </tr>
                                        <tr>
                                            <th>Name-Surname</th>
                                            <td>{{profile.user.first_name }} {{ profile.user.last_name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td>{{profile.user.email }}</td>
                                        </tr>
                                        <tr>
                                            <th>Phone</th>
                                            <td>{{profile.phone }}</td>
                                        </tr>
                                        <tr>
                                            <th>Address</th>
                                            <td>{{profile.address }}</td>
                                        </tr>
                                        <tr>
                                            <th>City</th>
                                            <td>{{profile.city }}</td>
                                        </tr>
                                        <tr>
                                            <th>Country</th>
                                            <td>{{profile.country }}</td>
                                        </tr>




                                        </tbody>
                                    </table>

                                </div>


                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>







{% endblock %}