<div class="span4">

                    <aside class="left-sidebar">



                        <div class="widget">

                            <h5 class="widgetheading">User Menu</h5>

                            <ul class="cat">
                                <li><i class="icon-angle-right"></i> <a href="/user/">My Profile</a></li>
                                <li><i class="icon-angle-right"></i> <a href="/user/comments">My Comments</a></li>
                                <li><i class="icon-angle-right"></i> <a href="/user/reservations">My Reservations</a></li>
                                <li><i class="icon-angle-right"></i> <a href="/logout/">Logout</a></li>

                            </ul>
                        </div>

                    </aside>
                </div>